{% extends "base.html" %}

{% block content %}
<section class="products">
    <h2>Our Products</h2>
    <div class="product-item">
        <h3>Wooden Puzzle</h3>
        <p>Age: 3-6 years</p>
        <p>Price: $20</p>
    </div>
    <div class="product-item">
        <h3>Alphabet Blocks</h3>
        <p>Age: 4-8 years</p>
        <p>Price: $30</p>
    </div>
    <div class="product-item">
        <h3>Wooden Numbers</h3>
        <p>The numbers are from 1-20</p>
        <p>Age: 4-8 years</p>
        <p>Price: $30</p>
    </div>
</section>
{% endblock %}
